*__pycache__*
*.egg-info
dumps/*
env
scripts/general/testSkriptNr1.py
scripts/general/testSkriptNr2.py
scripts/general/testSkriptNr3.py
scripts/general/testSkriptNr4.py
scripts/general/testSkriptNr5.py
*diff_images
.venv
reports
